:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --white: #ffffff;
  --black: #000000;
  --sm: 14px;
  --md: 18px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.oculto {
  display: none !important;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
    top: 50%;
    right: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
}

.logo {
  width: 150px;
}

.izquierda {
  display: flex;
}

.izquierda ul {
  margin-left: 12px;
}

.izquierda ul,
.derecha ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.izquierda ul li a,
.derecha ul li a {
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.izquierda ul li a:hover,
.derecha ul li a:hover {
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);

}

.derecha {
  display: flex;
}

.carrito {
  position: relative;
}

.cantidad {
  height: 16px;
  width: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -12px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  margin-right: 8px;
  font-size: var(--sm);
  cursor: pointer;
}

.flechita {
  margin-right: 12px;
}

/* Menu Escritorio
   */
.desktop-menu {
  position: absolute;
  background-color: var(--white);
  top: 78px;
  right: 60px;
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.desktop-menu ul li {
  text-align: end;

}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* Menu-Movil */

.mobile-menu {
  position: absolute;
  top: 78px;
  padding: 24px;
  background-color: var(--white);
  height: 92vh;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.emailmenu {
  font-size: var(--sm);
  font-weight: 300 !important;
}

.sign-out {
  color: var(--hospital-green) !important;
  font-size: var(--sm);
}

/* ORDEN */

.my-order {
  display: grid;
  place-items: center;
  justify-items: end;
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  width: 90%;


}

.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}

.my-order {
  position: absolute;
  right: 0;
}

.my-order-container {
  background-color: var(--white);
  width: 640px;
  padding: 20px 10px;
  border: 1px solid var(--very-light-pink);
  border-radius: 12px;
}

.my-order-content {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  width: 90%;
}

.superior {
  display: flex;
  flex-direction: row;

  height: 48px;
}

.superior img:nth-child(1) {
  display: none;
  width: 17px;
}

.flecha {
  transform: rotate(180deg);
  width: 12px;
  margin-right: 48px;
  margin-left: 42px;
}

.order {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 8px;
  padding: 0 24px;
  justify-items: end;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.order p:nth-child(2) {
  color: var(--very-light-pink);
}

.order div:nth-child(2) p {
  font-weight: bold;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.shopping-cart figure {
  margin: 0;
}

.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
  font-weight: bold;
  font-size: var(--md);
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

/* PRINCIPAL */
.main-container {
  margin: 28px 12px;
}

.cards-conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}

.product-card {
  width: 240px;
}

.product-card img {
  width: 100%;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.product-info figure {
  margin: 0;
}

.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;

}

.product-info div p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
}

/* Detalle de producto */
.detalle-producto {
  position: absolute;
  right: 0;

}

.producto {
  width: 360px;
  position: relative;
  border: 1px solid var(--very-light-pink);
  border-radius: 14px;
  background-color: var(--white);
}

.cerrar {
  position: absolute;
  width: 10px;
  padding: 8px;
  background-color: var(--white);
  border-radius: 50%;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.producto img:nth-child(2) {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.product-info-detalles {
  width: 90%;
}

.product-info-detalles p:nth-child(1) {
  font-weight: bold;
  margin-bottom: 4px;

}

.product-info-detalles p:nth-child(2) {
  color: var(--very-light-pink);
}

.descrip {
  font-size: var(--sm);
  color: var(--very-light-pink);
  margin-top: 12px;
  margin-bottom: 36px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-button-detalles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

@media (max-width:640px) {
  .menu {
    display: block;
    cursor: pointer;
  }

  .izquierda ul {
    display: none;
  }

  .flechita {
    display: none;
  }

  .email {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .flecha {
    display: none;
  }

  .superior img:nth-child(1) {
    display: block;
    margin-right: 29%;
    margin-left: 32px
  }

  .my-order-container {
    width: 100%;
  }

  .cards-conteiner {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .product-card {
    width: 140px;
  }

  .product-card img {
    width: 100%;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
  }

  .producto {
    width: 100%;
  }
}

@media (min-width:641px) {
  .mobile-menu {
    display: none;
  }

  .superior {
    justify-content: center;
  }
}